<head>
    <meta charset="utf-8">
    <title>Monitor | Brain Sences</title>
    <!--
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    -->
    <meta name="description" content="">
    <meta name="author" content="roybein@linkgo.io">

    <link href="spark.css" rel="stylesheet">
</head>

<body>

</body>

<template name='monitor'>
    <nav class="bar limit center dark" role="navigation">
        <ul>
            <li class="active"><a href="monitor">Monitor</a></li>
            <li><a href="setup">Setup</a></li>
        </ul>
    </nav>

    <main>
        <section class="container">
        <section class="row">
            <div class="col of-12">
                <table class ="tbl center bordered narrow alternate cosmic">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Description</th>
                            <th>Lock</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each sensors}}
                            {{> sensor}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </section>

        <section class="row">
        <section class="col of-12">    
            <div class="col of-6">
                <table class ="tbl center bordered narrow alternate cosmic">
                    <thead>
                        <tr>
                            <th>Digtal Input</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each digitalInputs}}
                            {{> digitalInput}}
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="col of-6">
                <table class ="tbl center bordered narrow alternate cosmic">
                    <thead>
                        <tr>
                            <th>Analog Input</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each analogInputs}}
                            {{> analogInput}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </section>
        </section>

        <section class="row">
        <section class="col of-12">    
            <div class="col of-6">
                <table class ="tbl center bordered narrow alternate cosmic">
                    <thead>
                        <tr>
                            <th>Relay</th>
                            <th>Status</th>
                            <th>Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each relays}}
                            {{> relay}}
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="col of-6">
                <table class ="tbl center bordered narrow alternate cosmic">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Name</th>
                            <th>Relay Index</th>
                            <th>Relay Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each plans}}
                            {{> plan}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </section>
        </section>


        <section class="row">
        <section class="col of-12">    
            {{> newPlan}}
        </section>
        </section>
    </section>
    
    </main>
    <footer>
    </footer>
</template>

<template name='setup'>
    <nav class="bar limit center dark" role="navigation">
        <ul>
            <li ><a href="monitor">Monitor</a></li>
            <li class="active"><a href="">Setup</a></li>
        </ul>
    </nav>

    <main>
            <section class="container">
                <section class="row">
                    <div class="col of-12">
                    {{> example}}
                    </div>
                </section>
            </section>
    </main>

    <footer>
    </footer>
</template>

<template name="sensor">
    <tr>
        <td>{{_id}}</td>
        <td>{{name}}</td>
        <td>{{value}} {{unit}}</td>
        <td>{{description}}</td>
        <td>
            <input type="checkbox">
        </td>
    </tr>
</template>

<template name="digitalInput">
    <tr>
        <td>{{name}}</td>
        <td>{{status}}</td>
    </tr>
</template>

<template name="analogInput">
    <tr>
        <td>{{name}}</td>
        <td>{{value}}</td>
    </tr>
</template>

<template name="relay">
    <tr>
        <td>{{name}}</td>
        <td>
            <div class="input-container">
            <label><input type="radio" name={{_id}} class="relay-control" id={{_id}} value="off" {{relayOffCheck}}>Off</label>
            <label><input type="radio" name={{_id}} class="relay-control" id={{_id}} value="on" {{relayOnCheck}}>On</label>
            </div>
        </td>
        <td>{{plan}}</td>
    </tr>

</template>

<template name="plan">
    <tr>
        <td>{{_id}}</td>
        <td>{{name}}</td>
        <td>{{relayIndex}}</td>
        <td>{{relayValue}}</td>
        <td><button class="btn green" id="editPlan">edit</button></td>
        <td><button class="btn green" id="delPlan">delete</button></td>
    </tr>
</template>

<template name="newPlan">
    <form class="form" role="form">
        <div class="col of-3"> 
        <div class="input-container is-small">
            <label for="form-planIndex">Plan Index</label>
            <input type="text" name="form-planIndex" id="form-planIndex" value={{index}}>
        </div>
        </div>
    
        <div class="col of-3"> 
        <div class="input-container is-small">
            <label for="form-planName">Plan Name</label>
            <input type="text" name="form-planName" id="form-planName" value={{name}}>
        </div>
        </div>

        <div class="col of-3"> 
        <div class="input-container is-small">
            <label for="form-relayIndex">Relay Index</label>
            <input type="text" name="form-relayIndex" id="form-relayIndex" value={{relayIndex}}>
        </div>
        </div>

        <div class="col of-3"> 
        <div class="input-container is-small">
            <label for="form-relayValue">Relay Value</label>
            <input type="text" name="form-relayValue" id="form-relayValue" value={{relayValue}}>
        </div>
        </div>

        <div class="col of-12">
        <div class="input-container is-tiny">
            <table class ="tbl center bordered narrow alternate cosmic">
            <thead>
                <tr>
                    <th>index</th>
                    <th>sensorIndex</th>
                    <th>yesMin</th>
                    <th>yesMax</th>
                    <th>LogicValue</th>
                    <th>LogicType</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each judgeGroup}}
                    {{> judgeElem}}
                {{/each}}
                {{> newJudgeElem}}
            </tbody>
            </table>
        </div>
        </div>

        <div class="col of-12">
        <div class="input-container buttons">
            <button class="btn cosmic" id="addPlan">Add Plan</button>
        </div>
        </div>
    </form>
</template>

<template name="example">
   <form>
       <input type="text" name="myInput" />
       <input class="form tight push" value="Submit From"/>
       <button type="alert" class="btn cosmic">Submit</button>
   </form>
</template>

<template name="judgeElem">
<tr>
<td>{{index}}</td>
<td>{{sensorIndex}}</td>
<td>{{yesMin}}</td>
<td>{{yesMax}}</td>
<td>{{logicValue}}</td>
<td>{{logicType}}</td>
<td><button class="btn green" id="deleteJudgeElem">delete</button></td>
</tr>
</template>

<template name="newJudgeElem">
<tr>
<td><div class="input-container is-tiny"><input type="text" class="green" id="index" value={{index}}></div></td>
<td><div class="input-container is-tiny"><input type="text" class="green" id="sensorIndex" value={{sensorIndex}}></div></td>
<td><div class="input-container is-tiny"><input type="text" class="green" id="yesMin" value={{yesMin}}></div></td>
<td><div class="input-container is-tiny"><input type="text" class="green" id="yesMax" value={{yesMax}}></div></td>
<td><div class="input-container is-tiny"><input type="text" class="green" id="logicValue" value={{logicValue}}></div></td>
<td><div class="input-container is-tiny"><input type="text" class="green" id="logicType" value={{logicType}}></div></td>
<td><button class="btn green" id="addJudgeElem">add</button></td>
</tr>
</template>
